.carouselContainer {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0 auto;
  border: 3px solid #333333;
  border-radius: 12px;
  background-color: #000000;
  width: 24px;
  max-width: 324px;
  font-family: var(--ff-poppins);
}
.carouselContainer h4 {
  margin-top: 16px;
  text-align: center;
  color: #f8f8f8;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carouselContainer {
    width: 400px;
    max-width: 400px;
  }
}