.carouselContainer {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 0 auto;
  border: 2px solid #333333;
  border-radius: 10px;
  background-color: #000000;
  width: 316px;
}