.sectionAbout {
  opacity: 0;
  margin: 128px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.divImage {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe {
  padding-bottom: 20px;
}
.aboutMe > p {
  margin-top: 8px;
  font-size: 16px;
}
.aboutMe > h1 {
  font-size: 36px;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.btnMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  margin: 4px;
  border-radius: var(--border-r);
  background-color: #000000;
  color: #f8f8f8;
  font-size: 20px;
  transition: all 0.4s;
}
.btnMedia:hover {
  border: 2px solid #333333;
}
.btnCv {
  padding: 12px 16px;
  background-color: #000000;
  color: #f8f8f8;
  font-size: 16px;
  border-radius: var(--border-r);
  font-weight: var(--fw-2);
  transition: all 0.4s;
}
.btnCv:hover {
  border: 2px solid #333333;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
}
.sectionSkills {
  opacity: 0;
  margin: 120px 24px 24px 24px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.sectionSkills > h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.mySkills > h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}

@keyframes appear {
  0% {
    transform: translateY(-128px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear2 {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .aboutMe {
    margin: 0 auto;
    width: 500px;
  }
  .mySkills {
    margin: 0 auto;
    max-width: 460px;/*simulando*/
  }
  .skillsTech {
    margin: 0 auto;
    max-width: 460px;/*simulando*/
  }
}
@media screen and (min-width: 1023px) {
  .aboutMe {
    margin: 0 auto;
    width: 540px;
  }
  .mySkills {
    margin: 0 auto;
    max-width: 460px;
  }
  .skillsTech {
    margin: 0 auto;
    max-width: 460px;
  }
}