.sectionAbout {
  margin: 128px 24px 25px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.divImage {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe {
  margin-top: 12px;
  padding-bottom: 50px;
}
.aboutMe > p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
}
.aboutMe > h1 {
  font-size: 36px;
}
.btnCv {
  padding: 14px 15px;
  background-color: #000000;
  color: #f8f8f8;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.4s;
}
.btnCv:hover {
  border: 2px solid #333333;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
}