.sectionProfile {
  margin: 120px 25px 25px 25px;
}
.myProfile > p {
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}
.myProfile > h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.sectionExperience {
  margin: 60px 25px 25px 25px;
}
.sectionExperience > h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.sectionExperience div:nth-child(3) {
  border-left: 3px solid #2b3c6a;
}
.myExperience {
  margin-left: 6px;
  padding: 0px 10px 10px 25px;
}
.circle {
  float: left;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: #2b3c6a;
}
.myExperience > h5 {
  margin: 10px 0px 10px 0px;
  font-weight: 300;
}
.myExperience > p {
  font-weight: 400;
  text-align: justify;
  line-height: 22px;
}
.sectionEducation {
  margin: 60px 25px 25px 25px;
}
.sectionEducation > h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.sectionEducation div:nth-child(3) {
  border-left: 3px solid #2b3c6a;
}
.myEducation {
  margin-left: 6px;
  padding: 0px 10px 20px 20px;
}
.myEducation > h5 {
  margin: 7px 0px 0px 0px;
  font-weight: 300;
}
.sectionCertifications {
  margin: 60px 25px 25px 25px;
}
.sectionCertifications > h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.myCertifications > ul > li {
  margin-left: 20.5px;
  padding-bottom: 7px;
}

.sectionSkills {
  margin: 60px 25px 25px 25px;
}
.sectionSkills > h2 {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.mySkills > ul > li {
  margin-left: 20.5px;
  padding-bottom: 7px;
}

@media screen and (min-width: 1020px) {
  .sectionProfile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionExperience {
    padding-left: 30px;
    padding-right: 50px;
  }
  .sectionEducation {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionCertifications {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionSkills {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .sectionProfile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionExperience {
    padding-left: 30px;
    padding-right: 50px;
  }
  .sectionEducation {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionCertifications {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionSkills {
    padding-left: 30px;
    padding-right: 30px;
  }
}