.sectionProfile {
  opacity: 0;
  margin: 120px 24px 24px 24px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.myProfile > p {
  text-align: justify;
}
.myProfile > h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.sectionExperience {
  opacity: 0;
  margin: 92px 24px 24px 24px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.sectionExperience > h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.sectionExperience div:nth-child(3) {
  border-left: 4px solid #000000;
}
.myExperience {
  margin-left: 6px;
  padding: 0px 12px 0px 24px;
}
.circle {
  float: left;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #000000;
}
.myExperience > h5 {
  margin: 12px 0px 12px 0px;
  font-weight: var(--fw-1);
}
.myExperience > p {
  text-align: justify;
  line-height: 20px;
}
.sectionEducation {
  opacity: 0;
  margin: 80px 24px 24px 24px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.sectionEducation > h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.sectionEducation div:nth-child(3) {
  border-left: 4px solid #000000;
}
.myEducation {
  margin-left: 6px;
  padding: 0px 12px 0px 20px;
}
.myEducation > h5 {
  margin: 8px 0px 0px 0px;
  font-weight: var(--fw-1);
}
.myEducation > h5 > ul {
  margin-left: 20px;
}
.sectionCertifications {
  opacity: 0;
  margin: 72px 0px 24px 0px;
  padding: 0px 16px 0px 16px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.sectionCertifications > h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.sectionSkills {
  opacity: 0;
  margin: 72px 24px 24px 24px;
  font-family: var(--ff-poppins);
  animation: appear 2s forwards;
}
.sectionSkills > h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

@keyframes appear {
  0% {
    transform: translateX(-24px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sectionProfile {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionExperience {
    padding-left: 30px;
    padding-right: 50px;
  }
  .sectionEducation {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sectionSkills {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mySkills {
    margin: 0 auto;
  }
  .skillsStats {
    margin: 0 auto;
    max-width: 416px;
  }
  .skillsTech {
    margin: 0 auto;
    max-width: 416px;
  }
}
@media screen and (min-width: 1024px) {
  .sectionProfile {
    padding-left: 40px;
    padding-right: 40px;
  }
  .sectionExperience {
    padding-left: 40px;
    padding-right: 60px;
  }
  .sectionEducation {
    padding-left: 40px;
    padding-right: 40px;
  }
  .sectionSkills {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mySkills {
    margin: 0 auto;
  }
  .skillsStats {
    margin: 0 auto;
    max-width: 540px;
  }
  .skillsTech {
    margin: 0 auto;
    max-width: 540px;
  }
}