.myHeader {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(4,6,0,0.9)/*rgba(0, 29, 44, 0.9)*/;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  width: 100%;
  font-size: 24px;
}
.btnMenu {
  margin-left: 10px;
  padding: 6px 10px 4px 10px;
  border: none;
  border-radius: 10px;
  background: none;
  color: #f8f8f2;
  font-size: 16px;
  transition: all 0.3s;
}
.btnMenu:hover {
  background-color: #2b3c6a;
}
.menuContent {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: rgba(4,6,0,0.9);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  transition: top 0.4s;
}
.divButton {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 24px;
}
.divButton > button {
  font-size: 24px;
}
.navLinks {
  margin-top: 90px;
  padding: 0 15px 0px 15px;
  width: 100%;
}
.navLinks > a {
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
  display: block;
  color: #f8f8f2;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.navLinks a:hover {
  background-color: #2b3c6a;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.btnMedia {
  padding: 8px 15px 8px 15px;
  margin: 4px;
  border-radius: 10px;
  background: none;
  text-decoration: none;
  color: #f8f8f2;
  font-size: 20px;
  transition: all 0.4s;
}
.btnMedia:hover {
  background-color: #2b3c6a/*#202A45*/;
}