.myFooter {
  margin-top: 86px;
  padding-bottom: 12px;
  border-top: 2px solid #333333;
  text-align: center;
  font-family: var(--ff-poppins);
  font-size: 12px;
  width: 100%;
}
.myFooter > p {
  padding: 4px;
}
.linkGithub > span {
  padding: 4px 8px;
  border-radius: 12px;
  background-color: #000000;
  color: #f8f8f8;
  cursor: pointer;
  transition: all 0.3s;
}
.linkGithub > span:hover {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  transform: scale(1.1);
}