.myFooter {
  margin-top: 85px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 13px;
  width: 100%;
}
.myFooter > p {
  padding: 5px;
}
.linkGithub > span {
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #202A45;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.linkGithub > span:hover {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  transform: scale(1.1);
}